<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Appointment Booking</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"></link>
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <style>
     .list-group .list-group-item:first-child { padding: 10px; } 
    form {
      margin: 100px 200px 10px;
    }
    body {
      background-image: url('https://images.unsplash.com/photo-1508108712903-49b7ef9b1df8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80');
  -o-background-size: cover;
  background-size: cover;
    }
    ul{
      margin: 10px 200px;
    }
  </style>
</head>
<body>
  <div id="app"></div>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
        </svg>
        Appointment Booking App
      </a>
    </div>
  </nav>
  <form action="/users/createUser" id="myForm" method="post">
      <div class="mb-3">
        <label for="name" class="form-label">Name*</label>
        <input type="text" class="form-control" placeholder="Your Name" id="name" name="name">
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Phone Number*</label>
        <input type="number" class="form-control" placeholder="xxxxxxxxxx" id="phone" name="phone">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email ID*</label>
        <input type="email" class="form-control" placeholder="name@example.com" id="email">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <ul class="list-group list-group-numbered" id="listOfPeople"></ul>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
</body>
<script>
  const form = document.getElementById("myForm");
  const peopleList = document.getElementById("listOfPeople");
  async function getAllUsers() {
    try{
    const peopleList = document.getElementById("listOfPeople");
    const res = await axios.get('http://localhost:3000/getUsers');
    res.data.forEach(user => {
      const li = document.createElement("li");
      li.classList.add("list-group-item","list-group-item-warning");
      li.appendChild(document.createTextNode(`${user.name} ${user.phone} ${user.email}`));
      const editButton = document.createElement("button");
      const deleteButton = document.createElement("button");
      editButton.innerHTML = "edit";
      deleteButton.innerHTML = "delete";
      editButton.classList.add("btn","btn-outline-success","btn-sm");
      deleteButton.classList.add("delete", "btn", "btn-outline-danger", "btn-sm");
      li.appendChild(editButton);
      li.appendChild(deleteButton);
      peopleList.appendChild(li);
    });
    }
    catch(err) {
      console.log(err);
    }
  }

  async function createUser(e) {
    try {
      const name = document.getElementById("name").value;
      const phone = document.getElementById("phone").value;
      const email = document.getElementById("email").value;
      const user = {name, phone, email};
      console.log(user);
      const res = await axios.post('http://localhost:3000/users/createUser',{
        name : name,
        phone : phone,
        email : email
      });
      console.log(res.data);
      window.location.reload();
    }
    catch(err) {
      console.log(err);
    }
  }

  async function deleteUser(e) {
    try {
      if(e.target.classList.contains('delete')) {
        let id;
        let userdata = e.target.parentNode.firstChild.wholeText.split(" ");
        const phone = userdata[userdata.length-2];
        const email = userdata[userdata.length-1];
        const userInfo = {phone, email};
        const res = await axios.get(`http://localhost:3000/getUsers`);
        res.data.forEach(user => {
          if(user.phone === phone && user.email === email) {
            console.log(user);
            id = user.id;
          }
        })
        const deleteUser = await axios.get('http://localhost:3000/deleteUser', {
          params: {
            id : id
          }
        });
        window.location.reload();
      }
    }
    catch(err) {
      console.log(err);
    }
  }

  document.addEventListener('DOMContentLoaded',getAllUsers);

  form.addEventListener('submit', (e) => {
    e.preventDefault();
    createUser(e);
  });

  peopleList.addEventListener('click', (e) => {
    deleteUser(e);
  })
</script>
</html>